{% extends "layouts/main.html" %}

{% set pageName="Prototype" %}
 {% block header%}

{{ govukHeader() }}



{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    
  </div>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  

   

  <p>  To apply for  UX design license you must tell us about your experience.</p>







  {{ govukButton({
    text: "Start now",
    href: "/has-account",
    isStartButton: true
  }) }}



  </div>
  <div class="govuk-grid-column-one-third">
    <div class="x-govuk-related-navigation">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Related content
        </h2>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="/school-performance-tables">Find and compare UX courses</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="/types-of-school">Types of UX design fields</a>
          </li>
        </ul>
        <nav role="navigation" class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-explore-the-topic">
          <h3 class="x-govuk-related-navigation__sub-heading" id="related-navigation-explore-the-topic">
            Explore the topic
          </h3>
          <ul class="x-govuk-related-navigation__link-list">
            <li class="x-govuk-related-navigation__link">
              <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Ux design</a>
            </li>
          </ul>
        </nav>
      </nav>
    </div>
  </div>

</div>

{% endblock %}
